block content
   .row
      .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
         .panel.panel-primary
            .panel-heading
               h3.panel-title About
            .panel-body
               p
                  | 1Gram is a social network for sharing images, it shares many key features
                  | with larger networks such as Instagram. We believe that using social media should be
                  | enjoyable, therefore we aim to create a network without the exhaustion
                  | and addiction the hunt for likes and followers bring. We also believe in
                  | anonymity, therefore the images you upload will not display your username.
                  | 1Gram is
                  | a pioneer into the next generation of social media, we want You to use
                  | our service. With moderation.