block content
   .row
      .col-lg-10
         .jumbotron
            img(src='/img/logo.png', style="float:left;")
            div(style="float:left; margin-left: 100px;")
            h1 404 - Not Found
            p
              | This page could not be located at the moment.
            p
               //a.btn.btn-primary.btn-lg.pull-right ...
