block content
   .row
      .col-lg-10
         .jumbotron
            img(src='/img/logo.png', style="float:left;")
            div(style="float:left; margin-left: 100px;")
            h1 1Gram
            p
               | The new generation of social media, less addictive and less stressful for your health.
               | Try it now for free, no likes and no pressure. It's all anonymous and juicy.
            p
               //a.btn.btn-primary.btn-lg.pull-right ...
