block content
   .row
      .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
         .panel.panel-primary
            .panel-heading
               h3.panel-title Features
            .panel-body
               ul.list-group
                  li.list-group-item
                     span.badge
                        .glyphicon.glyphicon-ok
                     |     Image uploading from camera & gallery
                  li.list-group-item
                     span.badge
                        .glyphicon.glyphicon-ok
                     |     Image filters
                  li.list-group-item
                     span.badge
                        .glyphicon.glyphicon-ok
                     |     Picture tagging
                  li.list-group-item
                     span.badge
                        .glyphicon.glyphicon-ok
                     |     Latest uploads
                  li.list-group-item
                     span.badge
                        .glyphicon.glyphicon-ok
                     |     Personal gallery
                  li.list-group-item
                     span.badge
                        .glyphicon.glyphicon-ok
                     |     Tag searches
                  li.list-group-item
                     span.badge
                        .glyphicon.glyphicon-ok
                     |     Content reporting
                  li.list-group-item
                     span.badge
                        .glyphicon.glyphicon-ok
                     |     Anonymity to other users
                  li.list-group-item
                     span.badge
                        .glyphicon.glyphicon-ok
                     |     Secure transmission
                  li.list-group-item
                     span.badge
                        .glyphicon.glyphicon-ok
                     |     Material design