block content
   .row(style='margin-top:50px;')
      .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2.col-lg-4.col-lg-offset-4
         .panel.panel-success
            .panel-heading
               h3.panel-title Account Verified
            .panel-body
               | Welcome #{username} !
               br
               br
               | The account is now verified and you may now..
               ul.list-group(style='margin-top: 24px;')
                  li.list-group-item
                     span.badge
                        .glyphicon.glyphicon-ok
                     |     Upload images
                  li.list-group-item
                     span.badge
                        .glyphicon.glyphicon-ok
                     |     Report illicit images