block content
   .row(style='margin-top:50px;')
      .col-xs-6.col-xs-offset-3
         .panel.panel-danger
             .panel-heading
                 h3.panel-title Verification Error
             .panel-body
                 | The supplied token could not be used to verify the Account.