block content
  .row
    .col-lg-8.col-lg-offset-2
      .panel.panel-primary
        .panel-heading
          h3.panel-title Releases
        .panel-body
          table.table.table-striped.table-hover
            thead
              tr
                th Platform
                th Version
                th Download
            tbody
              tr
                td Android (Ice Cream Sandwich & Lollipop)
                td 1.0.0a
                td
                  a(href='/releases/onegram.apk') Download