block content
  .row
    .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
      .panel.panel-primary
        .panel-heading
          h3.panel-title Releases
        .panel-body
          table.table.table-striped.table-hover
            thead
              tr
                th Platform
                th Version
                th Download
            tbody
              tr
                td Android (Ice Cream Sandwich & Lollipop)
                td 1.0.1a
                td
                  a(href='/releases/onegram.apk') Download